@font-face {
    font-family: 'Roboto';
    src: url(../Fonts/Roboto-Medium.ttf);
}
 @font-face {
    font-family: 'Roboto-thin';
    src: url(../Fonts/Roboto-Light.ttf);
} 
 @font-face {
    font-family: 'Roboto-medium';
    src: url(../Fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: 'Roboto-italic';
    src: url(../Fonts/Roboto-LightItalic.ttf);
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(../Fonts/Roboto-Bold.ttf);
}
*{
    box-sizing: border-box;
    margin: 0;
}
.container{
    background: rgb(68,122,147);
    background: radial-gradient(circle, rgba(68,122,147,1) 0%, rgba(6,15,29,1) 100%);
    font-family: 'Roboto-Bold', 'sans-serif';
    padding: 1rem 8rem 2rem 8rem;
    -webkit-animation: bounce-in-left 1.1s both;
    animation: bounce-in-left 1.1s both;
}
@-webkit-keyframes bounce-in-left {
    0% {
      -webkit-transform: translateX(-600px);
              transform: translateX(-600px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateX(-68px);
              transform: translateX(-68px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateX(-28px);
              transform: translateX(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-left {
    0% {
      -webkit-transform: translateX(-600px);
              transform: translateX(-600px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateX(-68px);
              transform: translateX(-68px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateX(-28px);
              transform: translateX(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    font-family: 'Roboto', 'sans-serif';
    font-size: 24px;
    color: #f9faf8;
    text-decoration: none;
}
button{
    margin-top: 6rem;
    width: 6rem;
    height: 1.6rem;
    font-family: 'Roboto-Medium', sans-serif;
    background: #3882f6;
    border: transparent;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
button:hover, button:focus, button:active {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
button a{
    text-decoration: none;
    color: #f9faf8;
}
.links{
    position: relative;
    padding-bottom: 0.3rem;
    text-decoration: none;
    font-family: 'Roboto-thin', 'sans-serif';
    font-size: 18px;
    color: #e5e7eb;
}

.links::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #3882f6;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  .links:hover::before{
   transform: scaleX(1);
  }
ul{
    display: flex;
    gap: 1.5em;
    list-style: none;
}
h1{
    margin-top: 4rem;
    width: 60rem;
    font-size: 4rem;
    font-family: 'Roboto-Bold', 'sans-serif';
    color: #f9faf8;
    padding-bottom: 8rem;
}
.gallery{
    display: flex;
    justify-content: space-evenly;
    height: 35rem;
    margin-bottom: 7rem;
}
.gallery .up{
    width: 18rem;
    height: 29rem;
}
.up .up-img{
  width: 18rem;
  height: 29rem;
  border-radius: 15px;
}
.gallery .up-2{
    width: 18rem;
    height: 29rem;
}
.up-2 .up-two-img{
  width: 18rem;
  height: 29rem;
  border-radius: 15px;
}
.down{
    margin-top: 5rem;
}
.down .down-img{
  width: 18rem;
  height: 29rem;
  border-radius: 15px;
}
.gallery .down{
    width: 18rem;
    height: 29rem;
}

.up, .up-2, .down{
    display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.up:before, .up-2:before, .down:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }
  .up:hover, .up:focus, .up:active, .up-2:hover, .up-2:focus, .up-2:active, .down:hover, .down:focus, .down:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  
  }
  .up:hover:before, .up:focus:before, .up:active:before, .up-2:hover:before, .up-2:focus:before, .up-2:active:before, .down:hover:before, .down:focus:before, .down:active:before  {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    
  }
h2{
    font-size: 48px;
    font-family: 'Roboto-Bold';
    color: #f9faf8;
    margin-bottom: 2rem;
}
.storytelling{
    text-align: center;
}
.storytelling-txt{
    font-family: 'Roboto-thin', 'sans-serif';
    font-size: 18px;
    color: #d7d9dc;
    letter-spacing: 1px;
    line-height: 1.9rem;
    margin-bottom: 2rem;
    text-align: justify;
}
h3{
    font-size: 48px;
    font-family: 'Roboto-Bold';
    color: #f9faf8;
    margin-bottom: 2rem;
}
.values{
    text-align: center;
}
.values p{
    font-family: 'Roboto-thin', 'sans-serif';
    font-size: 18px;
    color: #d7d9dc;
    letter-spacing: 1px;
    text-align: center;
}
.values-container{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}
.values-container .values-content{
    display: flex;
    width: 15rem;
    height: 29rem;
    align-items:flex-start;
    padding: 7rem 2rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1016%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1017)'%3e%3c/rect%3e%3cpath d='M915.81 72.84 a109.34 109.34 0 1 0 218.68 0 a109.34 109.34 0 1 0 -218.68 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M226.701%2c493.999C264.33%2c491.587%2c284.901%2c453.702%2c302.094%2c420.144C317.304%2c390.455%2c326.16%2c357.561%2c312.099%2c327.311C295.531%2c291.67%2c266.003%2c257.59%2c226.701%2c257.955C187.783%2c258.317%2c162.621%2c294.692%2c144.01%2c328.874C126.449%2c361.127%2c116.03%2c398.18%2c132.474%2c431.017C150.605%2c467.223%2c186.292%2c496.59%2c226.701%2c493.999' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M796.9568858587605 256.53378657090167L866.2885612587769 107.85152886504423 648.2746281529031 187.2021111708853z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M463.66 347.76 a130.99 130.99 0 1 0 261.98 0 a130.99 130.99 0 1 0 -261.98 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1222.99 405.64 a142.85 142.85 0 1 0 285.7 0 a142.85 142.85 0 1 0 -285.7 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M309.525386412378 155.75544325934874L210.19511366308097 204.2020543103164 258.6417247140487 303.5323270596134 357.9719974633457 255.08571600864576z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1016'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1017'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    margin-bottom: 4rem;
}
.values-container .values-content .txt-values{
    font-family: 'Roboto-Bold', 'sans-serif';
    font-size: 36px;
    background: transparent;
    color: #f9faf8;
}
h4{
    text-align: center;
    font-size: 48px;
    font-family: 'Roboto-Bold';
    color: #f9faf8;
    margin-bottom: 4rem;
}
.differences{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.qualities span{
    color: #f9faf8;
    font-family: 'Roboto';
    font-size: 36px;
    line-height: 4rem;
}
.qualities p{
    color: #e5e7eb;
    font-family: 'Roboto-thin';
    font-size: 18px;
}
.rocket img{
    width: 20rem;
    height: 20rem;
}
footer{
    background-color: #1f2937;
    font-family: 'Roboto-thin';
    color: #e5e7eb;
    justify-content: center;
    align-items: center;
    height: 5.5rem;
    display: flex;
}