@font-face {
    font-family: 'Roboto';
    src: url(./Fonts/Roboto-Medium.ttf);
}
 @font-face {
    font-family: 'Roboto-thin';
    src: url(./Fonts/Roboto-Light.ttf);
} 
 @font-face {
    font-family: 'Roboto-medium';
    src: url(./Fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: 'Roboto-italic';
    src: url(./Fonts/Roboto-LightItalic.ttf);
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(./Fonts/Roboto-Bold.ttf);
}
*{
    box-sizing: border-box;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 10rem;
    padding: 1rem 12rem 7rem 12rem;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
.header-logo{
    font-family: 'Roboto', 'sans-serif';
    font-size: 24px;
    color: #f9faf8;
    text-decoration: none;
}
.links, .web-description, .placeholder{
    text-decoration: none;
    font-family: 'Roboto-thin', 'sans-serif';
    font-size: 18px;
    color: #e5e7eb;
}
.links{
  position: relative;
  padding-bottom: 0.3rem;
}

.links::before{
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3882f6;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.links:hover::before{
 transform: scaleX(1);
}
ul{
    display: flex;
    gap: 1.5em;
    list-style: none;
}

.container, footer{
    background-color: #1f2937;
}
.content{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.content-container{
    width: 35rem;
    -webkit-animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
  
.info-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45rem;
    background: url(./src/effective-cars.jpg) center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -3rem;
    -webkit-animation: shadow-pop-tr 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	animation: shadow-pop-tr 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
@-webkit-keyframes shadow-pop-tr {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
        box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
      -webkit-transform: translateX(-8px) translateY(8px);
        transform: translateX(-8px) translateY(8px);
    }
  }
  @keyframes shadow-pop-tr {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
        box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
      -webkit-transform: translateX(-8px) translateY(8px);
        transform: translateX(-8px) translateY(8px);
    }
  }
  
h1{
    font-family: 'Roboto-Bold', 'sans-serif';
    font-size: 48px;
    color: #f9faf8;
    width: 25rem;
}
.web-description{
    letter-spacing: 0.5px;
    margin-bottom: 1rem;
    
}
.sign-up{
    background-color: #3882f6;
    border-style: none;
    color: #e5e7eb;
    font: 18px 'Roboto-medium';
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    width: 7rem;
    height: 1.6rem;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.sign-up::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e5e7eb;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.sign-up:hover, .sign-up:focus, .sign-up:active{
  color: #1f2937;
  border: transparent;
}
.sign-up:hover:before, .sign-up:focus:before, .sign-up:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

.info-header{
    background-color: gray;
    width: 40rem;
}
.section-info{
    padding: 1.5rem 0 8rem 0;
}
h2{
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 2rem 0;
    text-align: center;
}
.product-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
}
.product-info{
    display: flex;
    gap: 3rem;
    justify-content: center;
    -webkit-animation: slide-in-bck-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bck-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-bck-top {
    0% {
      -webkit-transform: translateZ(700px) translateY(-300px);
              transform: translateZ(700px) translateY(-300px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bck-top {
    0% {
      -webkit-transform: translateZ(700px) translateY(-300px);
              transform: translateZ(700px) translateY(-300px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
.img-ilustration, .img-ilustration-1, .img-ilustration-2, .img-ilustration-3{
    border:  solid 3px #3882f6;
    width: 10rem;
    height: 10rem;
    border-radius: 10px;
    background: url(./src/best-seller.png) center no-repeat;
    background-size: contain;
}
.img-ilustration{
    background: url(./src/best-seller.png) center no-repeat;
    background-size: contain;
}
.img-ilustration:hover, .img-ilustration-1:hover, .img-ilustration-2:hover, .img-ilustration-3:hover{
    -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
	animation: pulsate-fwd 0.5s ease-in-out infinite both;
}
.img-ilustration-1{
    background: url(./src/best-selle-2.jpg) center no-repeat;
    background-size: contain;
}

.img-ilustration-2{
    background: url(./src/best-seller-3.jpg) center no-repeat;
    background-size: contain;
}

.img-ilustration-3{
    background: url(./src/best-seller-4.jpg) center no-repeat;
    background-size: contain;
}
@-webkit-keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
.product-description{
    color: #1f2937;
    font-family: 'Roboto-Bold', 'sans-serif';
    font-size: 18px;
}
.quote{
    background-color: #e5e7eb;
    padding: 6rem 17rem ;
    margin-bottom: 5rem;
}
.quote blockquote{
    font-family: 'Roboto-Italic', 'sans-serif';
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
    text-align: justify;
    margin-bottom: 0.5rem;
}
.quote .author{
    font-family: 'Roboto-Italic', 'sans-serif';
    font-size: 36px;
    color: #1f2937;
    display: flex;
    justify-content: end;
    margin-right: 3.5rem;
}
.action-time{
    margin: 0 20rem 5rem 20rem;
    padding: 3rem 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    border-radius: 5px;
    text-align: center;
}
.action-time .flex-time{
    color: #e5e7eb;
    font-family: 'Roboto-thin';
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.action-time .flex-time h3{
    font-family: 'Roboto';
    font-weight: 500;
    color: #f9faf8;
}
.action-time .flex-time h3 p{
    text-align:start;
}
.action-time .action-button{
    background-color: transparent;
    color: #f9faf8;
    font-family:'Roboto-medium';
    font-weight:500;
    cursor: pointer;
    border: solid 2px white;
    border-radius: 5px;
    width: 7rem;
    height: 2rem;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    overflow: hidden;
}
.action-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  
}
.action-button:hover, .action-button:focus, .action-button:active {
  color: #1f2937;
}
.action-button:hover:before, .action-button:focus:before, .action-button:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}
footer{
    font-family: 'Roboto-thin';
    color: #e5e7eb;
    justify-content: center;
    align-items: center;
    height: 5.5rem;
    display: flex;
}